

.title {
  margin: 0;
  font-size: 50px;
  text-align: center;
   animation-duration: 2s;
   animation-name: gliss; }
 
 @keyframes gliss {
   0% {
    transform: translateX(100%);
   }
 
   50% {
    transform: translateX(-10%);
   }

   100% {
    transform: translateX(0);
   } 
 }