.select {
    border-radius: 5px;
    border: none;
    background-color: rgba(255, 255, 255, 0.2);
    color: inherit;
    height: 100%;
    padding: 0 0.5rem;
    outline: none;
}

.select_option {
    background: #242424;
}

.select_option:hover {
    background: #242424;
}
